Ximura Data/Resources/Ximura.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schema.ximura.org/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.ximura.org/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tid" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="cid" type="xs:string" maxOccurs="1" minOccurs="1" />
        <xs:element name="vid" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>